GEMINI_API_KEY=
APP_URL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
SESSION_SECRET=
OWNER_EMAIL=provalueweb@gmail.com
OWNER_PASSWORD=1Qw23er45ty67ui89op0.
PAYMENT_GATEWAY_SECRET=
PAYMENT_WEBHOOK_SECRET=
MERCHANT_ID=
CLIQ_ALIAS=HKAYA.STORE
CLIQ_IBAN=
